<header class="row text-center header">
  {{ with .Site.Params.authorimage }} <img src="http://paul-crickard.gitlab.io/blog/img/headshot.jpg" alt="Author Image" class="img-circle text-center headshot"> {{ end }}
  <h1 class="author">{{ .Site.Params.author }}</h1>
</header>
